table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    // font-size: 18px;
    // table-layout: fixed;
    // background-color: red;
    // border: none;
    // display: grid;
    // grid-template-columns: auto;
    // justify-content: start;
    // align-items: baseline;
    // justify-content: start;
    // align-items: start;
}

.tableCustom {
    min-height: 10%;
    overflow-x: auto;
}

tr {
    height: 10px;
}

tr:hover {
    background-color: var(--table-highlight-row);
}

td, th{
    // border: 1px solid var(--text-color);
    // padding: 10px 20px;
    // display: table-cell;
    text-align: center;
    min-width: max-content;
    // overflow: ;
}

// th {
//     display: table-cell;
//     vertical-align: in;
// }

td:last-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td:last-child:hover {
    overflow: visible;
    height: auto;
    position: absolute;
    text-overflow: clip;
}

@media screen and (max-width: 1000px) {
    th {
        padding: 5px;
        // background-color: red;
        // border: 1px solid green;
        // font-size: 1rem  
    }
}