/* You can add global styles to this file, and also import other style files */
:root{
    --dark-text-color: #FAF9F6;
    --dark-bg-color: #121212;
    --dark-nav-bar-color: #1F1B24;
    --dark-table-highlight-row: #3e3746;
    --dark-button-highlight-text: #121212;
    --dark-button-highlight-color: #c2c2c2;
    --dark-accent-color: #90B8F8;
    --dark-button-border: #FAF9F6;
    --dark-menu-button: "menu_light.png";

    --light-text-color: #121212;
    --light-bg-color: #FAF9F6;
    --light-nav-bar-color: #81D4FA;
    --light-table-highlight-row: #bae3f7;
    --light-button-highlight-text: #121212;
    --light-button-highlight-color: #bae9ff;
    --light-accent-color: #FAF9F6;
    --light-button-border: #121212;
    --light-menu-button: "menu_dark.png";

    --currTheme: light;
    --text-color: var(--light-text-color);
    --bg-color: var(--light-bg-color);
    --nav-bar-color: var(--light-nav-bar-color);
    --table-highlight-row: var(--light-table-highlight-row);
    --button-highlight-text: var(--light-button-highlight-text);
    --button-highlight-color: var(--light-button-highlight-color);
    --accent-color: var(--light-accent-color);
    --button-border: var(--light-button-border);
    --menu-button: var(--light-menu-button);
    --box-shadow: #868686;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    // font-weight: 700;
    // font-style: normal;
    // color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.midCommonDiv {
    margin: 10% 25%;
    // width: 50%;
    padding: 15px 10px;
    // min-height: 50%;
    display: flex;
    text-align: center;
    background: transparent;
    display: grid;
    border: 1px solid #313131;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 3px 3px #313131;
    border-radius: 5px;
}

.inputEle {
    height: 50px;
    position: relative;
    margin: 2% 25%;

    input {
        // background-color: red;
        width: 100%;
        height: 100%;
        padding: 20px;
        background: transparent;
        outline: none;
        border: 2px solid var(--button-border);
        border-radius: 30px;
    }

    
    input:focus::placeholder {
        opacity: 0;
        transition:  opacity 0.5s ease-out;
    }
    
    .iconPos {
        position: absolute;
        right: 20px;
        top: 25%;
    }

}

.submitButton {
    margin: 2% 25%;
    // width: 100%;
    height: 50px;
    // background-color: red;
    width: 50%;
    // height: 100%;
    font-weight: 500;
    background: transparent;
    border: 2px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    // line-height: 50px;
    // background-color: green;
}

.submitButton:hover {
    color: var(--button-highlight-text);
    background-color: var(--button-highlight-color);
}

@media screen and (max-width: 1000px) {
    // body {
    //     background-color: red;
    // }
    .midCommonDiv {
        margin: 10% 5%;
        font-size: small;
    }

    body {
        font-size: small;
    }

    .submitButton {
        font-size: medium;
    }

    .inputEle {
        margin: 2% 10%;
    }

}

// .submitButton:hover {
//     background-color: #90B8F9;
// }


// #0071e3

