/* You can add global styles to this file, and also import other style files */
:root{
    --text-color: white;
    --nav-bar-color: #1F1B24;
    --bg-color: #121212;
    // --accent-color: ;
    --table-highlight-row: #3e3746;
    --dark-button-highlight-text: #121212;
    --dark-button-highlight-color: #c2c2c2;
    // --table-highlight-row: rgb(58, 58, 100);
    --dark-accent-color: #a1c4d5;
    // --primary-color: ;
    // --secondary-color: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    // font-weight: 700;
    // font-style: normal;
    // color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
    // background: url(114439.jpg);
    // background-position: center;
    // background-repeat: repeat-y;
    // background: rgba(203, 193, 193, 0.363);
    // background: peachpuff;
    // background-image: ;
    // background-color: #5F85DB;
    // background-size: cover;
    // background-position: center;
    // background-color: #353941;
    // background-color: #222831;
    // color: #EEEEEE;
    // color: #fff;
// }



.midCommonDiv {
    margin: 10% 25%;
    width: 50%;
    padding: 15px 10px;
    // min-height: 50%;
    display: flex;
    text-align: center;
    background: transparent;
    display: grid;
    border: 1px solid #313131;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 3px 3px #313131;
    // border-radius: 50px;
    // background-size: 25%;
    // box-shadow: inset 0 39px 56px -36px hsla(0, 0%, 100%, 0.5), inset 0 7px 11px -4px hsla(0, 0%, 100%, 0.25), inset 0 -82px 68px -64px rgba(96, 68, 144, 0.3), inset 0 98px 100px -48px rgba(202, 172, 255, 0.3), inset 0 4px 18px 0 rgba(154, 146, 210, 0.3), inset 0 1px 40px 0 rgba(227, 222, 255, 0.2);
    border-radius: 5px;
}

.inputEle {
    height: 50px;
    position: relative;
    margin: 2% 25%;

    input {
        // background-color: red;
        width: 100%;
        height: 100%;
        padding: 20px;
        background: transparent;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 30px;
    }

    
    input:focus::placeholder {
        opacity: 0;
        transition:  opacity 0.5s ease-out;
    }
    
    .iconPos {
        position: absolute;
        right: 20px;
        top: 25%;
    }

}

.submitButton {
    margin: 2% 25%;
    // width: 100%;
    height: 50px;
    // background-color: red;
    width: 50%;
    // height: 100%;
    font-weight: 500;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    // line-height: 50px;
    // background-color: green;
}

.submitButton:hover {
    color: var(--dark-button-highlight-text);
    background-color: var(--dark-button-highlight-color);
}

// .submitButton:hover {
//     background-color: #90B8F9;
// }


// #0071e3

