<div class="loginContainer">
    <form id="login-form" class="loginForm" (ngSubmit)="checkCredentials()" ngNativeValidate>
      <h1>Sign In</h1>
       <div class="inputEle">
         <input type="text" name="userid" id="userid" [(ngModel)]="loginCreds.username" placeholder="Username" required>
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round iconPos"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg>
        </div>
        <div class="inputEle">
          <input type="password" name="password" id="password" [(ngModel)]="loginCreds.password" placeholder="Password" required>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lock iconPos"><rect width="18" height="11" x="3" y="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>
      </div>
      <!-- <div class="inputEle"> -->
        <input type="submit" value="Login" class="submitButton">
      <!-- </div> -->
    </form>
</div>