<div class="midCommonDiv">
    <form id="remove-emp-form" class="removeEmpForm" (ngSubmit) = "removeEmployee()" ngNativeValidate>
        <div class="inputEle">
            <input type="number" name="empId" id="empId" [(ngModel)]="employeeId" placeholder="Enter Employee Id" required>
        </div>
        <input class="submitButton" type="submit" value="Remove Employee">
    </form>
</div>

<!-- <div class="midCommonDiv" id="resultSection"></div> -->
 <!-- NEED TO SET THE RESULT OF REMOVING IN FRONT END -->