<div class="midCommonDiv">
    <form id="promote-emp-form" class="promoteEmpForm" (ngSubmit)="demoteEmployee()" ngNativeValidate>
        <div class="inputEle">
            <input type="number" name="empId" id="empId" [(ngModel)]="this.empId" placeholder="Employee Id" required>
        </div>
        <div class="inputEle">
            <input type="number" name="numProms" id="numProms" [(ngModel)]="this.numDems" placeholder="Number of Demotions" required>
        </div>
        <input class="submitButton" type="submit" value="Demote Employee">
    </form>
</div>