<p>add-employee works!</p>
<div class="addEmpDiv">
    <form id="add-emp-form" class="addEmpForm" (ngSubmit)="addEmployee()" ngNativeValidate>
        <label for="empName">Enter Employee Name :</label>
        <input type="text" name="empName" id="empName" [(ngModel)] = "employee.employeeName">
        <label for="empRank">Enter Employee Rank : </label>
        <input type="number" name="empRank" id="empRank" [(ngModel)] = "employee.employeeRank">
        <input type="submit" value="Add Employee">
    </form>
</div>