<header class="navHeader">
    <nav>
        <div class="left">
            <a routerLink="/home-component" (click)="resetHome()">Home</a>
        </div>
        <div class="center">{{pageTitle}}</div>
        <button class="menuButton" (click)="menuToggle()"><img src="menu_dark.png" alt="Menu" srcset=""
                id="dispImg"></button>
        <div class="aboutProfile">
            <div class="menuItem">
                <a routerLink="/profilePage">Profile: {{username}}</a>
            </div>
            <div class="menuItem">
                <a href="#" (click)="onLogout()">LogOut</a>
                <!-- <button type="button" (click)="onLogout()">Logout</button> -->
            </div>
            <div class="menuItem">
                <a routerLink="/aboutPage">About</a>
            </div>
            <div class="menuItem">
                <input type="checkbox" id="themeSwitcher" (click)="checkBoxClicked()">
                <label for="themeSwitcher"></label>
                <!-- <button><label class="themeSwitcher"></label></button> -->
            </div>
            <!-- <div class="menuItem">
                <img src="menu-icon.png" alt="Menu">
            </div>
            <div class="menuItem">
                <img src="close-icon.png" alt="Menu">
            </div> -->
        </div>

    </nav>
</header>
<div class="navbarMenu" id="navbarMenu">
    <a routerLink="/profilePage" (click)="menuToggle()">Profile: {{username}}</a>
    <a href="#" (click)="resetToggle()">LogOut</a>
    <a routerLink="/aboutPage" (click)="menuToggle()">About</a>
    <!-- <input type="checkbox" id="themeSwitcher" (click)="checkBoxClicked()">
    <label for="themeSwitcher"></label> -->
</div>
<div class="routerDiv" *ngIf="menuClosed">
    <router-outlet />
</div>