<p>home works!</p>
<div class="homePage">
<div class="buttonGrid">
    <div class="buttonItem">
        <a class="button" routerLink="/addEmployee">
            Add Employee
            <!-- <button type="button">Click</button> -->
        </a>
    </div>
    <div class="buttonItem">
        <a routerLink="/removeEmployee">Remove Employee</a>
    </div>
    <div class="buttonItem">
        <a routerLink="/viewAllEmployee">View All Employees</a>
    </div>
    <div class="buttonItem">Add</div>
</div>
</div>