.homePage {
    margin: 5% 25%;
    width: 50%;
    // height: 50vh;
    // background-color: red;
    border: 1px solid var(--button-border);
}

.buttonGrid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    backdrop-filter: blur(10px);
}

.buttonItem {
    margin: 5% 25%;
    // width: 100%;
    background: transparent;
    // background-color: red;
    height: 63%;
    border: 2px solid var(--button-border);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
        text-align: center;
        width: 100%;
        text-decoration: none;
        color: var(--text-color);
    }

    transition: transform .5s ease;
}

.buttonItem:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
    .buttonItem {
        width: 75%;
        margin: 5% 15%;
    }

    .midCommonDiv {
        margin: 10% 5%;
        font-size: small;
    }
}