<p>promote-employee works!</p>
<div class="promoteEmpDiv">
    <form id="promote-emp-form" class="promoteEmpForm" (ngSubmit)="promoteEmployee()">
        <label for="empId">Enter Employee ID</label>
        <input type="number" name="empId" id="empId" [(ngModel)]="this.empId">
        <label for="numProms">Enter number of Promotions</label>
        <input type="number" name="numProms" id="numProms" [(ngModel)]="this.numProms">
        <input type="submit" value="Promote Employee">
    </form>
</div>